templates/PersonalityRecognitionFlow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
    <name>PersonalityRecognitionFlow</name>
    <snippet>
        <processGroups>
            <id>85d8d365-d4a5-3244-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>85d8d365-d4a5-3244-89de-1891abf6086b</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>11e11e62-4d47-32d5-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>11e11e62-4d47-32d5-95f6-54f0ed9758df</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>333fb5b9-bcfd-31be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>333fb5b9-bcfd-31be-916d-352cd61ca9af</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>ea8be23d-87b7-35c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ea8be23d-87b7-35c6-b75b-7b1346a1bf21</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>148b8db6-fbde-3f2c-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>148b8db6-fbde-3f2c-b7e7-b7a21b775de0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>3230.178980134445</x>
                        <y>-8.535810723593897</y>
                    </bends>
                    <bends>
                        <x>3230.178980134445</x>
                        <y>41.4641892764061</y>
                    </bends>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>df122148-a60d-38bf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>df122148-a60d-38bf-ade4-0f494652ae39</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>df122148-a60d-38bf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>df122148-a60d-38bf-ade4-0f494652ae39</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>17df33f6-8274-3041-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>17df33f6-8274-3041-a567-257722069151</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>78d08505-caec-35a8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>78d08505-caec-35a8-99c9-f8fb14aa7f9d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>7ca3d31c-0627-3689-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7ca3d31c-0627-3689-a9a8-33b526afef19</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1cc63a58-a5fd-365f-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>1cc63a58-a5fd-365f-afcb-ff6cf23630ca</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>ea8be23d-87b7-35c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ea8be23d-87b7-35c6-b75b-7b1346a1bf21</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>b6e0d2bc-e6f7-3b9e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b6e0d2bc-e6f7-3b9e-b525-d8845f7cb718</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>78ed39ad-5a7b-3c80-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>78ed39ad-5a7b-3c80-af05-2ce140322f80</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>1dc9fa04-9db4-327f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>1dc9fa04-9db4-327f-970b-9188924da219</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>e8ad8d64-b9fa-3b8f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e8ad8d64-b9fa-3b8f-b479-de123a0ae5b1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>804cf7d8-661f-3b91-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>804cf7d8-661f-3b91-b25d-28d8fa058666</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>29eaa797-b84f-305e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>29eaa797-b84f-305e-8f57-aedccaf4c4d4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>ea8be23d-87b7-35c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ea8be23d-87b7-35c6-b75b-7b1346a1bf21</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b54d910b-878f-3978-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>b54d910b-878f-3978-9470-e142c75dd435</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>df122148-a60d-38bf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>df122148-a60d-38bf-ade4-0f494652ae39</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>29eaa797-b84f-305e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>29eaa797-b84f-305e-8f57-aedccaf4c4d4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b8efe8e6-79fa-3a57-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>b8efe8e6-79fa-3a57-9be9-d43b2b5bbba3</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>251b0087-c9fc-3a5d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>251b0087-c9fc-3a5d-8352-f2449b81f994</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>333fb5b9-bcfd-31be-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>333fb5b9-bcfd-31be-916d-352cd61ca9af</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b92fe198-9aa5-3f6d-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>b92fe198-9aa5-3f6d-b5a4-a39e2cccfee0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>fd3bb86d-131b-32bf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fd3bb86d-131b-32bf-bd39-7d6d5407e210</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>78d08505-caec-35a8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>78d08505-caec-35a8-99c9-f8fb14aa7f9d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d8aa4f3d-6d65-3f19-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>d8aa4f3d-6d65-3f19-a58b-4486e5141672</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>58c3a586-3c8c-3449-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>58c3a586-3c8c-3449-8f0c-6d9ff167d1a6</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>251b0087-c9fc-3a5d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>251b0087-c9fc-3a5d-8352-f2449b81f994</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ef959437-522e-3afa-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>ef959437-522e-3afa-a27c-e3b8cf9784ad</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>b6e0d2bc-e6f7-3b9e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b6e0d2bc-e6f7-3b9e-b525-d8845f7cb718</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>fd3bb86d-131b-32bf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fd3bb86d-131b-32bf-bd39-7d6d5407e210</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f709a25e-fe70-34c8-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>f709a25e-fe70-34c8-8097-15847bfa3fcf</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>e8ad8d64-b9fa-3b8f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e8ad8d64-b9fa-3b8f-b479-de123a0ae5b1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>85d8d365-d4a5-3244-0000-000000000000</groupId>
                        <id>29eaa797-b84f-305e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>29eaa797-b84f-305e-8f57-aedccaf4c4d4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>125d811a-88fa-315e-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>125d811a-88fa-315e-94cb-0ca9da322e7b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>agreeableness</key>
                            <value>
<name>agreeableness</name>
                            </value>
                        </entry>
                        <entry>
                            <key>byline</key>
                            <value>
<name>byline</name>
                            </value>
                        </entry>
                        <entry>
                            <key>conscientiousness</key>
                            <value>
<name>conscientiousness</name>
                            </value>
                        </entry>
                        <entry>
                            <key>document_type</key>
                            <value>
<name>document_type</name>
                            </value>
                        </entry>
                        <entry>
                            <key>emotional_stability</key>
                            <value>
<name>emotional_stability</name>
                            </value>
                        </entry>
                        <entry>
                            <key>extraversion</key>
                            <value>
<name>extraversion</name>
                            </value>
                        </entry>
                        <entry>
                            <key>headline</key>
                            <value>
<name>headline</name>
                            </value>
                        </entry>
                        <entry>
                            <key>news_desk</key>
                            <value>
<name>news_desk</name>
                            </value>
                        </entry>
                        <entry>
                            <key>openness_to_experience</key>
                            <value>
<name>openness_to_experience</name>
                            </value>
                        </entry>
                        <entry>
                            <key>pub_date</key>
                            <value>
<name>pub_date</name>
                            </value>
                        </entry>
                        <entry>
                            <key>snippet</key>
                            <value>
<name>snippet</name>
                            </value>
                        </entry>
                        <entry>
                            <key>timestamp</key>
                            <value>
<name>timestamp</name>
                            </value>
                        </entry>
                        <entry>
                            <key>web_url</key>
                            <value>
<name>web_url</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonPathReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>a7ff1246-4a53-30e6-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>agreeableness</key>
                            <value>$.agreeableness</value>
                        </entry>
                        <entry>
                            <key>byline</key>
                            <value>$.byline</value>
                        </entry>
                        <entry>
                            <key>conscientiousness</key>
                            <value>$.conscientiousness</value>
                        </entry>
                        <entry>
                            <key>document_type</key>
                            <value>$.document_type</value>
                        </entry>
                        <entry>
                            <key>emotional_stability</key>
                            <value>$.emotional_stability</value>
                        </entry>
                        <entry>
                            <key>extraversion</key>
                            <value>$.extraversion</value>
                        </entry>
                        <entry>
                            <key>headline</key>
                            <value>$.headline</value>
                        </entry>
                        <entry>
                            <key>news_desk</key>
                            <value>$.news_desk</value>
                        </entry>
                        <entry>
                            <key>openness_to_experience</key>
                            <value>$.openness_to_experience</value>
                        </entry>
                        <entry>
                            <key>pub_date</key>
                            <value>$.pub_date</value>
                        </entry>
                        <entry>
                            <key>snippet</key>
                            <value>$.snippet</value>
                        </entry>
                        <entry>
                            <key>timestamp</key>
                            <value>$.timestamp</value>
                        </entry>
                        <entry>
                            <key>web_url</key>
                            <value>$.web_url</value>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.json.JsonPathReader</type>
                </controllerServices>
                <controllerServices>
                    <id>2d56c4a6-c4c4-3097-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>2d56c4a6-c4c4-3097-a514-df237256cf1f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>AvroRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>hwx-content-encoded-schema</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>a7ff1246-4a53-30e6-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>NONE</value>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>8eeb3778-d984-34e1-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>8eeb3778-d984-34e1-ad80-8661d8993d25</versionedComponentId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>HbasePhoenixConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:phoenix:localhost:2181:/hbase-unsecure</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>org.apache.phoenix.jdbc.PhoenixDriver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>file:///usr/hdp/current/phoenix-client/phoenix-client.jar</value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>a7ff1246-4a53-30e6-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <versionedComponentId>a7ff1246-4a53-30e6-9d0b-fffd971655e6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hwx-schema-registry-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>url</key>
                            <value>
<name>url</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-expiration</key>
                            <value>
<name>cache-expiration</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>HortonworksSchemaRegistry</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>url</key>
                            <value>http://CHANGE_ME_TO_MASTER_ADDRESS:7788/api/v1/</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>cache-expiration</key>
                            <value>1 hour</value>
                        </entry>
                    </properties>
                    <state>DISABLED</state>
                    <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
                </controllerServices>
                <processors>
                    <id>1dc9fa04-9db4-327f-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>2135.752271837069</x>
                        <y>403.55102071972533</y>
                    </position>
                    <versionedComponentId>1dc9fa04-9db4-327f-970b-9188924da219</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>
    <name>putsql-sql-statement</name>
</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>
    <name>Support Fragmented Transactions</name>
</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
<value>
    <name>Transaction Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>
    <name>Obtain Generated Keys</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>8eeb3778-d984-34e1-0000-000000000000</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>false</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Run Query</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSQL</type>
                </processors>
                <processors>
                    <id>251b0087-c9fc-3a5d-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>1535.751792743542</x>
                        <y>-48.5358107235939</y>
                    </position>
                    <versionedComponentId>251b0087-c9fc-3a5d-8352-f2449b81f994</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>{
 "web_url": "${web_url}",
 "snippet": "${snippet}",
 "byline": "${byline}",
 "pub_date": "${pub_date}",
 "headline": "${headline}",
 "document_type": "${document_type}",
 "news_desk": "${news_desk}",
 "timestamp": "${now()}",
 "extraversion": "${mairessepersonalityrecognition.extraversion}",
 "emotional_stability": "${mairessepersonalityrecognition.emotional_stability}",
 "agreeableness": "${mairessepersonalityrecognition.agreeableness}",
 "conscientiousness": "${mairessepersonalityrecognition.conscientiousness}",
 "openness_to_experience": "${mairessepersonalityrecognition.openness_to_experience}"
}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Create JSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>29eaa797-b84f-305e-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>2137.192457383944</x>
                        <y>-48.5358107235939</y>
                    </position>
                    <versionedComponentId>29eaa797-b84f-305e-8f57-aedccaf4c4d4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                            <entry>
<key>headline</key>
<value>
    <name>headline</name>
</value>
                            </entry>
                            <entry>
<key>snippet</key>
<value>
    <name>snippet</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>filename</key>
<value>${web_url:substring(${web_url:lastIndexOf('/'):plus(1)},${web_url:length()})}</value>
                            </entry>
                            <entry>
<key>headline</key>
<value>${headline:replaceAll('\'',''):replaceAll('\"',''):replaceAll(';','')}</value>
                            </entry>
                            <entry>
<key>snippet</key>
<value>${snippet:replaceAll('\'',''):replaceAll('\"',''):replaceAll(';','')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Escape Special Characters</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>333fb5b9-bcfd-31be-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>1535.751792743542</x>
                        <y>-275.94243624020123</y>
                    </position>
                    <versionedComponentId>333fb5b9-bcfd-31be-916d-352cd61ca9af</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>content-type</key>
<value>
    <name>content-type</name>
</value>
                            </entry>
                            <entry>
<key>headline</key>
<value>
    <name>headline</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                            <entry>
<key>snippet</key>
<value>
    <name>snippet</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>content-type</key>
<value>text/json</value>
                            </entry>
                            <entry>
<key>headline</key>
<value>${headline:replaceAll('\"','\\\\"')}</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>personalityrecognition</value>
                            </entry>
                            <entry>
<key>snippet</key>
<value>${snippet:replaceAll('\"','\\\\"')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>58c3a586-3c8c-3449-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>1535.751792743542</x>
                        <y>185.37856548698073</y>
                    </position>
                    <versionedComponentId>58c3a586-3c8c-3449-8f0c-6d9ff167d1a6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>message-key-field</key>
<value>
    <name>message-key-field</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>CHANGE_ME_TO_MASTER_ADDRESS:6667</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>personalityrecognition</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>125d811a-88fa-315e-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>2d56c4a6-c4c4-3097-0000-000000000000</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>message-key-field</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafkaRecord_1_0</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_1_0</type>
                </processors>
                <processors>
                    <id>78d08505-caec-35a8-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>2137.192457383944</x>
                        <y>-472.326742677066</y>
                    </position>
                    <versionedComponentId>78d08505-caec-35a8-99c9-f8fb14aa7f9d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.response.docs[*]</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>7ca3d31c-0627-3689-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>1535.751792743542</x>
                        <y>-472.326742677066</y>
                    </position>
                    <versionedComponentId>7ca3d31c-0627-3689-a9a8-33b526afef19</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://api.nytimes.com/svc/search/v2/articlesearch.json?page=0&amp;sort=newest&amp;fl=web_url,snippet,headline,pub_date,document_type,news_desk,byline&amp;api-key=6667bdbca1bd4afdb532f22ebc293e73</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>15 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Call NYT API</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>b6e0d2bc-e6f7-3b9e-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>2775.178980134445</x>
                        <y>-275.94243624020123</y>
                    </position>
                    <versionedComponentId>b6e0d2bc-e6f7-3b9e-b525-d8845f7cb718</versionedComponentId>
                    <bundle>
                        <artifact>nifi-BoilerpipeArticleExtractor-nar</artifact>
                        <group>com.github.paulvid</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>URL</key>
<value>
    <name>URL</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>URL</key>
<value>${web_url}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>BoilerpipeArticleExtractor</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>com.github.paulvid.processors.BoilerpipeArticleExtractor.BoilerpipeArticleExtractor</type>
                </processors>
                <processors>
                    <id>df122148-a60d-38bf-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>2775.178980134445</x>
                        <y>-48.5358107235939</y>
                    </position>
                    <versionedComponentId>df122148-a60d-38bf-ade4-0f494652ae39</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>
    <name>Hadoop Configuration Resources</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
<value>
    <name>Kerberos Principal</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
<value>
    <name>Kerberos Keytab</name>
</value>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>
    <name>Kerberos Relogin Period</name>
</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
<value>
    <name>Additional Classpath Resources</name>
</value>
                            </entry>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Block Size</key>
<value>
    <name>Block Size</name>
</value>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
<value>
    <name>IO Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replication</key>
<value>
    <name>Replication</name>
</value>
                            </entry>
                            <entry>
<key>Permissions umask</key>
<value>
    <name>Permissions umask</name>
</value>
                            </entry>
                            <entry>
<key>Remote Owner</key>
<value>
    <name>Remote Owner</name>
</value>
                            </entry>
                            <entry>
<key>Remote Group</key>
<value>
    <name>Remote Group</name>
</value>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>
    <name>Compression codec</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hadoop Configuration Resources</key>
<value>/home/nifi/hdpconf/core-site.xml,/home/nifi/hdpconf/hdfs-site.xml</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>Kerberos Principal</key>
                            </entry>
                            <entry>
<key>Kerberos Keytab</key>
                            </entry>
                            <entry>
<key>Kerberos Relogin Period</key>
<value>4 hours</value>
                            </entry>
                            <entry>
<key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
<key>Directory</key>
<value>/personalityrecognition</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Block Size</key>
                            </entry>
                            <entry>
<key>IO Buffer Size</key>
                            </entry>
                            <entry>
<key>Replication</key>
                            </entry>
                            <entry>
<key>Permissions umask</key>
                            </entry>
                            <entry>
<key>Remote Owner</key>
                            </entry>
                            <entry>
<key>Remote Group</key>
                            </entry>
                            <entry>
<key>Compression codec</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Put Article to HDFS</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>e8ad8d64-b9fa-3b8f-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>2137.192457383944</x>
                        <y>185.37856548698073</y>
                    </position>
                    <versionedComponentId>e8ad8d64-b9fa-3b8f-b479-de123a0ae5b1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(?s)(^.*$)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>upsert into article_evaluation values('${web_url}','${snippet}','${byline}','${pub_date}','${headline}','${document_type}','${news_desk}','${filename}','${now()}',${mairessepersonalityrecognition.extraversion},${mairessepersonalityrecognition.emotional_stability},${mairessepersonalityrecognition.agreeableness},${mairessepersonalityrecognition.conscientiousness},${mairessepersonalityrecognition.openness_to_experience})</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Create Upsert query</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>ea8be23d-87b7-35c6-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>2137.192457383944</x>
                        <y>-275.94243624020123</y>
                    </position>
                    <versionedComponentId>ea8be23d-87b7-35c6-b75b-7b1346a1bf21</versionedComponentId>
                    <bundle>
                        <artifact>nifi-MairessePersonalityRecognition-nar</artifact>
                        <group>com.github.paulvid</group>
                        <version>1.5.0.3.1.2.0-7</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>INPUT_TYPE</key>
<value>
    <name>INPUT_TYPE</name>
</value>
                            </entry>
                            <entry>
<key>MODEL_TYPE</key>
<value>
    <name>MODEL_TYPE</name>
</value>
                            </entry>
                            <entry>
<key>OUTPUT_COUNT_FLAG</key>
<value>
    <name>OUTPUT_COUNT_FLAG</name>
</value>
                            </entry>
                            <entry>
<key>OUTPUT_MODEL_FLAG</key>
<value>
    <name>OUTPUT_MODEL_FLAG</name>
</value>
                            </entry>
                            <entry>
<key>MRC_PATH</key>
<value>
    <name>MRC_PATH</name>
</value>
                            </entry>
                            <entry>
<key>LIWC_PATH</key>
<value>
    <name>LIWC_PATH</name>
</value>
                            </entry>
                            <entry>
<key>ARFF_PATH</key>
<value>
    <name>ARFF_PATH</name>
</value>
                            </entry>
                            <entry>
<key>MODELS_BASE_DIR</key>
<value>
    <name>MODELS_BASE_DIR</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>INPUT_TYPE</key>
<value>Written Language</value>
                            </entry>
                            <entry>
<key>MODEL_TYPE</key>
<value>Support Vector Machine with Linear Kernel (SMOreg)</value>
                            </entry>
                            <entry>
<key>OUTPUT_COUNT_FLAG</key>
<value>No</value>
                            </entry>
                            <entry>
<key>OUTPUT_MODEL_FLAG</key>
<value>No</value>
                            </entry>
                            <entry>
<key>MRC_PATH</key>
<value>/home/nifi/perso-recognition/lib/mrc2.dct</value>
                            </entry>
                            <entry>
<key>LIWC_PATH</key>
<value>/home/nifi/perso-recognition/lib/LIWC.CAT</value>
                            </entry>
                            <entry>
<key>ARFF_PATH</key>
<value>/home/nifi/perso-recognition/lib/attributes-info.arff</value>
                            </entry>
                            <entry>
<key>MODELS_BASE_DIR</key>
<value>/home/nifi/perso-recognition/lib/models/</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MairessePersonalityRecognition</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>com.github.paulvid.processors.MairessePersonalityRecognition.MairessePersonalityRecognition</type>
                </processors>
                <processors>
                    <id>fd3bb86d-131b-32bf-0000-000000000000</id>
                    <parentGroupId>85d8d365-d4a5-3244-0000-000000000000</parentGroupId>
                    <position>
                        <x>2775.178980134445</x>
                        <y>-472.326742677066</y>
                    </position>
                    <versionedComponentId>fd3bb86d-131b-32bf-bd39-7d6d5407e210</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.0.3.2.0.0-520</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>byline</key>
<value>
    <name>byline</name>
</value>
                            </entry>
                            <entry>
<key>document_type</key>
<value>
    <name>document_type</name>
</value>
                            </entry>
                            <entry>
<key>headline</key>
<value>
    <name>headline</name>
</value>
                            </entry>
                            <entry>
<key>news_desk</key>
<value>
    <name>news_desk</name>
</value>
                            </entry>
                            <entry>
<key>pub_date</key>
<value>
    <name>pub_date</name>
</value>
                            </entry>
                            <entry>
<key>snippet</key>
<value>
    <name>snippet</name>
</value>
                            </entry>
                            <entry>
<key>web_url</key>
<value>
    <name>web_url</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>byline</key>
<value>$.byline.original</value>
                            </entry>
                            <entry>
<key>document_type</key>
<value>$.document_type</value>
                            </entry>
                            <entry>
<key>headline</key>
<value>$.headline.main</value>
                            </entry>
                            <entry>
<key>news_desk</key>
<value>$.news_desk</value>
                            </entry>
                            <entry>
<key>pub_date</key>
<value>$.pub_date</value>
                            </entry>
                            <entry>
<key>snippet</key>
<value>$.snippet</value>
                            </entry>
                            <entry>
<key>web_url</key>
<value>$.web_url</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <name>Personality Recognition</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/27/2018 14:45:50 UTC</timestamp>
</template>
